
 @media screen and (max-width :1281px){ 
  
 }

 @media screen and (max-width :1025px){ 
  
     #section-5{
         padding-top: 100px;
     }
     .boite-fomulaire-parent{
         width: 80%;
     }
     #section-4{
         padding-top: 600px;
     }
}
@media screen and (max-width :800px){ 
   
     .text_du_chef h1{
         font-size: 64px;
     }
   
}
@media screen and (max-width :600px){ 
  
     .titre-h1{
        font-size: 64px;
    }
     .menu-bouton{
        display: none;
    }
    #burger{
        display: block;
    }
}
@media screen and (max-width :320px){ 
   
     .menu-bouton{
         display: none;
     }
     #burger{
         display: block;
     }
     .photo_sup{
         display: none;
     }
     .boite-droite{
         display: none;
     }
     #section-1{
      
        margin: 0%;
        padding: 0;
    
     }
     .titre-h3{
        font-size: 30px;
        color:salmon;
    }
    .titre-h5{
        font-size: 30px;
        color: salmon;
        
        
        
    }
    .titre-h1{
        font-size: 30px;
    }
     #section-2{
         background-position: 98% 0;
         text-align: left;
     }
     .text_du_chef_h1{
        font-size: 30px;
        text-align: left;
        color: white;
    }
    .text_du_chef_h5{
        font-size: 25px;
        text-align: left;
        justify-content: left;
    }
    footer{
        display: block;
        background-color: white;     
        }
    .footer-centre{ 
        display: block;   
    }
    .trait-rose{
        display: none;
    }
    h4{
        font-size: 30px;
        color: #5e6282;
        margin-bottom: 70px;
    }
    h2{
        font-size: 30px;
        font-family: "volkhov-bold";
        margin-top: 140px;
    }
}

