
 @media screen and (max-width :1281px){ 
 
  
 
    #section-4{
        display: none;
    }
    #section-5{
        display: none;
    }
 }

 @media screen and (max-width :1025px){ 
   
}
@media screen and (max-width :800px){ 
    .block_1{
        margin: 0;
        width: 100%;
        padding-top: 80px;
    }
  .titre-h1{
    font-size: 64px;
  } 
  .photo_sup{
    position: relative;
}
.photo_sup img{
    width: 320px;
    text-align: center;
}
}
@media screen and (max-width :600px){ 
  
}
@media screen and (max-width :360px){ 
    .menu-bouton{
        display: none;
    }
    #burger{
        display: block;
    }
    .align_maki{
  
        width: 190px;
        border-radius: 24px; 
        box-shadow: none
    }
    .carte_sous_enfant :hover{
        cursor: pointer;
        box-shadow: none;
        
    }
}
